@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

body{
  background: #ccebe8;
}

body h1{
  font-family: 'Indie Flower', cursive;
  color: #ec8662;
}

body nav.col-4 a{
  color: #239293;

}
body .row{
  color: #5763c9;
}

body figure{
  width: 10%;
  height: 10%;
}


#effets div{
  background: #ffcf36;
  height: 100px;
  margin: 2px;
  border-radius: 5px;
  border: 2px;
  border-style: outset;
}
