body {
  background-color: #c9bbc9;
}

.tablet {
  display: none;
}

.box {
  display: flex;
  flex-wrap: wrap;
}

.box article {
  width: 100%;
  background: white;
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
}

@media (min-width: 768px) and (max-width: 991px) {
  body {
    background-color: #fff7b8;
  }
  .tablet {
    display: block;
  }
  .box article {
    width: calc(50% - 10px);
  }
}

@media (min-width: 992px) {
  body {
    background-color: #89adaa;
  }
  .box article {
    width: calc(33.33333333% - 10px);
  }
}
